<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <property name="LOG_PATH" value="/C:/TheaterSeating/" />
  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
    <Pattern><!-- %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - --> %msg%n</Pattern> 
    </layout>
  </appender>
   <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_PATH}/logs/spring_security_test.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 90 days' worth of history -->
            <maxHistory>90</maxHistory>
        </rollingPolicy>
     	 <layout class="ch.qos.logback.classic.PatternLayout">
      		<Pattern><!-- %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - --> %msg%n</Pattern>
    	</layout>
    </appender>
  <logger name="com.barclaycard" level="INFO"/>

  <root level="debug">
     <appender-ref ref="consoleAppender" />
     <appender-ref ref="fileAppender" />
  </root>
</configuration>